/*
color-scheme->
	white: #ffffff
	blessed brambles: #bbdce8
	grr-ey: #333333
	all cs: #cccccc
	Buick: #9eb9c3

*/


#myNav ul li a {
	color:#333333;
	background:#cccccc;
	margin-left:4%;
	margin-right:4%;
	outline:0;
	text-align:center;
}

#myNav li.active > a {
	color:#333333;
	background:#9eb9c3;
	margin-left:4%;
	margin-right:4%;
	outline:0;
	text-align:center;
}


.box {
	width:190px;
	height:240px;
	background:white;
	text-align:center;
	border: 3px solid #9eb9c3;
	display:inline-block;
	float:none;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

.box img {
	margin-top:10px;
	width:90px;
	height:90px;
}

.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

.projectBox {
	color:#0e0e0e;
}

.projectBox:link,
.projectBox:hover,
.projectBox:active,
.projectBox:visited {
	text-decoration:none;	
	color:#0e0e0e;
}



p {
	hyphens:auto;
}


html{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#bbdce8;
}

body {
	position:relative;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#bbdce8;
}

#top {
	padding-top:90px;
	text-align:center;
	padding-bottom:2em;
}

#top h1 {
	font-weight:bold;
	color:#0e0e0e;
}

#top h4 {
	font-weight:bold;
	color:#333333;
}



#topName {
	display:inline-block;
	margin-top:3%;
	font-size: 3.8vmin;
	color:white;
	filter:alpha(opacity=99);
	opacity:0.99;
	outline:0;
	padding-left:.5em;
}

.navbar-inner{
	background-image: url('../img/Banner.png');
	background-size:cover;
	height:100%;
	position:absolute;
	opacity: 0.4;
	filter:alpha(opacity=40); left:0; right:0; top:0; z-index:0;bottom:0;
}


.title {
	text-align:center;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 0px;
	data-interval="3000";
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	color:#333333;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #9eb9c3;
}
.carousel-inner > .item > img {
	top: auto;
	bottom: 0;
	max-height: 70%;
	margin:0px auto;
}


#home h1, #projects h1 {
	text-align: center;
        border: 3px solid #9eb9c3;
        display: inline-block;
        letter-spacing: 5px;
        padding: 25px 35px;
        margin: 30px 0;
	background-color:#D1E2E8;
	color:#212121;
}

#home h2, #home h3, #home h4, #projects h2, #projects h3, #projects h4 {
	font-weight:bold;
	color:#0e0e0e;
	text-align:center;
}

#home h5, #home h6, #projects h5, #projects h6 {
	font-weight:bold;
	color:#1f2935;
}

#home p {
	text-align:left;
	margin:2em;
}


h6 {
	text-align:center;
}

#resume h1, #contact h1 {
	text-align: center;
        border: 3px solid #9eb9c3;
        display: inline-block;
        letter-spacing: 6px;
        padding: 25px 35px;
        margin: 30px 0;
	background-color:#D1E2E8;
	color:#212121;
}

#resume h2, #resume h3, #resume h4, #contact h2, #contact h3, #contact h4 {
	font-weight:bold;
	color:#0e0e0e;
}

#resume h5, #resume h6, #contact h5, #contact h6 {
	font-weight:bold;
	color:#1f2935;
}

/* start home */       
#home {
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center;
	background:#ffffff;
	color:#333333;
}

/* end home */

/* start resume */
#resume
    {
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
	background:#cccccc;
	color:#000000;
    }

/* end resume */

/* start projects */

#projects {
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
	background:#ffffff;
	color:#333333;
}

/* end projects */

/* start contact */

#contact
    {
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
	background:#cccccc;
	color:#000000;
    }

#contact address {
	padding-bottom: 18px;
	display:block;
	padding-left:1.5em;
}

#contact address a {
	height:32px;
	padding:0;
	margin:0;
	padding-top:4px;
}

address p a:link {
	color: #0000cc;
	text-decoration: underline;
	cursor: pointer;
}

address p a:visited {
	color: #551a8b;
}

address p a:hover {
	text-decoration:none;
}

address p a:active {
	color: white;
}

#topName:hover {
	color:#bbdce8;
}

#topName:active {
	color:#9eb9c3;
	text-decoration:none;
}

#topName:link {
	text-decoration:none;
}

#topName:visited {
	text-decoration:none;
}


#contact .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        margin-right: 20px;
    }

/* end contact */

/* start bottom */
#bottom
    {
        border-top: 1px solid #090909;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
#bottom hr
    {
        width: 100px;
    }
/* end bottom */

